[tool.poetry]
name = "pyarrow-stubs"
version = "10.0.1.7"
description = "Type annotations for pyarrow"
authors = ["ZhengYu, Xu <zen-xu@outlook.com>"]
license = "BSD-2-Clause"
homepage = "https://github.com/zen-xu/pyarrow-stubs"
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: BSD License",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering",
]
packages = [{ include = "pyarrow-stubs" }]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
mypy = "^0.991"
pre-commit = ">=2.19.0"
typing-extensions = ">=4.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
fix = true
line-length = 88
target-version = "py37"

[tool.ruff.lint]
ignore = [
    "F811", # redefined-while-unused
    "F821", # undefined-name
]
